{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .button {
            display: block;
            width: 200px;
            height: 50px;
            
            background-color: #25a6d1;
            color: white;
            text-align: center;
            padding: 15px;
            text-decoration: none;
            font-size: 16px;
            transition: all 0.5s;
            cursor: pointer;
            border-radius: 5px;
          }
          #downloadButton {
            margin: 30px auto; /* Aggiungi questa linea */
          }
          #downloadScoresButton {
            margin: 10px auto; /* Aggiungi questa linea */
          }
          
          
          .button:hover {
            background-color: #45a049;
          }
    </style>

    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ 'static/imagenet_subset/'+image_id }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                    </div>
                </div>
                <a class="btn btn-primary" href="/classifications" role="button">Back</a>
                <a href="#" id="downloadButton" class="button">Download Graph</a>
                <a href="#" id="downloadScoresButton" class="button">Download Scores</a>  
            </div>
        </div>
    </div>
    

    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>

    <script src="{{ "static/downloadPlot.js" }}"></script>
  
    <script src="{{ "static/downloadScores.js" }}"></script>

{% endblock %}

